# Vercel deployment doesn't work without this. I'm not terribly sure why, but I get `require is not defined` in the Vercel build logs
# This Github issue suggested to hoist when using pnpm https://github.com/withastro/astro/issues/7022
shamefully-hoist=true
