---
import { getCollection } from "astro:content";
import Layout from "../../layouts/base.astro";

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title="Blog">
  <div class="flex flex-col space-y-3">
    {
      sortedPosts.map((post) => (
        <a
          href={`/blog/${post.slug}`}
          class="group flex flex-col sm:flex-row items-baseline justify-between"
        >
          <span class="text-lg group-hover:underline decoration-2 underline-offset-4 decoration-gray-400">
            {post.data.title}
          </span>
          <span class="text-sm whitespace-nowrap sm:ml-3 text-gray-400">
            {post.data.date.toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}
          </span>
        </a>
      ))
    }
  </div>
</Layout>

<style></style>
