.postContent
    & > *
        @apply mb-6

    h2, h3
        @apply font-bold mt-12

    h2
        @apply text-2xl

    h3
        @apply text-xl

    pre
        @apply text-sm rounded
        background: #1e1e1e
        font-size: 0.9em

    :not(pre) > code
        @apply font-semibold mx-0.5
        font-size: 0.875em

    ol, ul
        @apply list-outside pl-10

    ol
        @apply list-decimal

    ul
        @apply list-disc

    li:not(:last-child)
        @apply mb-2

    .codeBlock
        @apply p-4 font-mono
        position: relative

        :global .linenumber
            display: none
            @media (min-width: theme('screens.md'))
                display: inline-block

        .copyButton
            background: rgba(30, 30, 30, 0.5)
            backdrop-filter: blur(5px)
            border: 1px solid rgba(75, 75, 75, 0.5)
            position: absolute
            top: 0.65rem
            right: 0.65rem
            color: rgba(255, 255, 255, 0.5)
            padding: 4px 8px
            border-radius: 5px
            font-size: 0.9em

            &:hover
                background: rgba(255, 255, 255, 0.07)
                cursor: pointer

            display: none

        &:hover > .copyButton
            @media (min-width: theme('screens.md'))
                display: block