.postContent
    & > *
        @apply mb-6

    h2, h3
        @apply font-bold

    h2
        @apply text-3xl

    h3
        @apply text-2xl

    :not(pre) > code
        @apply bg-gray-100 border px-[3px] py-[1px] rounded break-words text-base

    pre
        @apply text-sm rounded
        background: #1e1e1e

    .codeBlock
        @apply p-5 font-mono
        position: relative

        :global .linenumber
            display: none
            @media (min-width: theme('screens.md'))
                display: inline-block

        .copyButton
            position: absolute
            top: 0.75rem
            right: 0.75rem
            color: #6f7177
            padding: 8px 12px
            border-radius: 5px

            &:hover
                background: rgba(255, 255, 255, 0.07)
                cursor: pointer

            display: none
            @media (min-width: theme('screens.md'))
                display: block