---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1 class="mb-2 text-4xl font-bold sm:text-5xl">Jacob Salway</h1>
	<h2 class="text-lg sm:text-xl">
		Software Engineer at <a
			href="https://www.rokt.com/"
			class="font-bold underline hover:text-[#b51e6d]">Rokt</a
		>
	</h2>
	<div class="mt-6">
		I'm a software engineer based in Sydney, Australia. I've previously worked
		as a data engineer at <a
			href="https://www.simplemachines.com.au/"
			class="underline hover:text-blue-500"
		>
			Simple Machines</a
		> and as a data analyst/engineer at <a
			href="https://www.domain.com.au/"
			class="underline hover:text-[#0ea800]">Domain</a
		>. I also do some full-stack web development on the side.
	</div>
</Layout>
