---
import Layout from "../layouts/base.astro";
---

<Layout>
	<section class="mt-8">
		<div class="mb-4">
			<h1 class="font-bold text-5xl sm:text-6xl pb-2">Jacob Salway</h1>
			<p class="text-2xl">
				Software Engineer at <span class="font-bold">Rokt</span>
			</p>
		</div>
		<div>
			<p>
				I'm a software engineer based in Sydney, Australia and I'm currently 
				working on the data infrastructure team at Rokt. I've previously
				worked as a data engineer at Simple Machines and as a data
				analyst/engineer at Domain. I also do some full-stack web development on
				the side.
			</p>
		</div>
	</section>
</Layout>
