---
import Layout from "../layouts/base.astro";
---

<Layout title="Jacob Salway">
  <section class="mt-8">
    <div class="mb-6 font-mono">
      <h1 class="font-bold font-mono text-5xl pb-2">Jacob Salway</h1>
      <p class="text-2xl">Software Engineer at Rokt</p>
    </div>
    <p class="text-lg">
      I'm a software engineer based in Sydney, Australia currently working on
      the data infrastructure team at Rokt. I've previously worked as a data
      engineer and data analyst, and I do some full-stack web development on the
      side.
    </p>
  </section>
</Layout>
