---
import Layout from "../layouts/base.astro";
---

<Layout title="Projects">
  <section class="mt-8">
    <h2 class="text-2xl sm:text-3xl tracking-tight font-bold font-mono">
      Projects
    </h2>
    <div class="mt-4">
      <h3 class="text-lg font-bold font-mono">LiveTransit departures</h3>
      <p class="sm:text-lg">
        A web-based departure board for Sydney train stations powered by data
        from the <a
          href="https://opendata.transport.nsw.gov.au/dataset/trip-planner-apis"
          class="underline"
          target="_blank">trip planner APIs</a
        > provided by Transport for NSW.
      </p>
      <a
        href="https://www.livetransit.com.au/departures"
        class="underline mt-2 inline-block sm:text-lg"
        target="_blank">www.livetransit.com.au/departures</a
      >
    </div>
    <div class="mt-4">
      <h3 class="text-lg font-bold font-mono">golang-api</h3>
      <p class="sm:text-lg">
        A 1.22 Golang template/example API using the standard library. I'll
        continuously update this to reflect my development practices writing
        Golang APIs at both work and on side projects.
      </p>
      <a
        href="https://github.com/jacobsalway/golang-api"
        class="underline mt-2 inline-block sm:text-lg"
        target="_blank">GitHub</a
      >
    </div>
  </section>
</Layout>
