---
import NavLink from "../components/NavLink.astro";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen max-w-3xl mx-auto px-6 sm:px-8">
    <header class="py-8 font-mono">
      <nav class="flex justify-between">
        <div class="space-x-4">
          <NavLink href="/" text="Home" />
          <NavLink href="/blog" text="Blog" />
          <NavLink href="/projects" text="Projects" />
        </div>
        <div class="space-x-4">
          <a href="https://www.linkedin.com/in/jacobsalway" target="_blank"
            >LinkedIn</a
          >
          <a href="https://www.github.com/jacobsalway" target="_blank">GitHub</a
          >
        </div>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
