$code-overflow: 70px

.postContainer
    max-width: calc(theme('screens.md') + #{$code-overflow})

.post
    & > *
        @apply mx-auto max-w-screen-md

.postContent
    max-width: calc(theme('screens.md') + #{$code-overflow})

    & > *
        margin: 0 auto 1.3em
        max-width: theme('screens.md')

    a
        @apply text-domain-green

    h1, h2, h3
        @apply mb-1

    h2
        @apply text-3xl

    h3
        @apply text-2xl

    pre
        max-width: calc(theme('screens.md') + #{$code-overflow})
        padding: 15px
        background: #1e1e1e
        border-radius: 5px
        font-size: 13px

        @media (min-width: theme('screens.md'))
            padding: 20px calc(#{$code-overflow} / 2)

    .codeBlock
        position: relative

        :global .linenumber
            display: none
            @media (min-width: theme('screens.md'))
                display: inline-block

        .copyButton
            position: absolute
            top: -8px
            right: -12px
            color: #6f7177
            padding: 8px 12px
            border-radius: 5px

            &:hover
                background: rgba(255, 255, 255, 0.07)
                cursor: pointer

            display: none
            @media (min-width: theme('screens.md'))
                display: block