.postContainer
    max-width: calc(theme('screens.md') + 110px)

.post
    & > *
        @apply mx-auto max-w-screen-md

.postContent
    max-width: calc(theme('screens.md') + 110px)

    & > *
        margin: 0 auto 2em
        max-width: theme('screens.md')

    h1, h2, h3
        @apply mb-1

    h2
        @apply text-3xl

    h3
        @apply text-2xl

    pre
        background: #1e1e1e
        border-radius: 5px
        max-width: calc(theme('screens.md') + 110px)
        padding: 20px calc(110px / 2)